.mainContainer {
    display: flex;
    gap: 16px;
}


.listContainer {
    width: 100%;
    min-height: 100vh;
}

@media (max-width: 1200px) {

    .filterContainer {
        position: absolute;
    }

    .filterContainer button {
        display: block;
    }

    .filterClose {
        display: none;
    }
}