@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--whiter2);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
a,
span,
label {
  font-family: 'Kanit', sans-serif;
}

li,
ul {
  list-style: none;
}

:root {

  --primary_color: #81749C;
  --whiter1: #fff;
  --whiter2: #EAEAEA;
  --black1: #505050;
  --black2: #414141;
}