.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 32px;
    height: 80px;
    width: 100%;
    align-items: center;
    background-color: var(--whiter2);
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.3);
    position: fixed;
    z-index: 5;
}

.header h1 {
    color: var(--black1);
}

.header h1 span {
    color: var(--primary_color);
}

.inputContainer {
    display: flex;
    height: 40px;
    width: 50%;
    max-width: 400px;
    background-color: var(--whiter1);
    padding: 5px 10px;
    align-items: center;
    border-radius: 16px;
    border: 2px solid transparent;
    transition: 0.5s;
}

.inputContainer:hover {
    border: 2px solid var(--primary_color);
    transition: 0.5s;
}


.inputContainer input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1.1rem;
    color: var(--black1);
    height: 40px;
}

.inputContainer input:hover,
.inputContainer input:hover~.icon,
.inputContainer input:hover::-webkit-input-placeholder {
    color: var(--primary_color);
}

.icon {
    font-size: 26px;
    color: var(--black1);
    /* background-color: aqua; */
}

@media (max-width: 800px) {
    .header {
        padding: 0px 16px;
    }

    .header h1 {
        font-size: 24px;
    }
}