.home {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin: 0px auto;
    /* height: 300vh; */

    /* min-height: 100px; */
    /* border: solid red 2px; */
}

@media (max-width: 1000px) {
    .home {
        gap: 16px;
    }
}