.commentsContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.title {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: var(--primary_color);
    align-items: center;
    border-radius: 16px;
}

.title h3 {
    color: var(--whiter1);
    font-size: 24px;
}

.sendComment {
    display: flex;
    gap: 20px;
    align-items: center;
   
}

.comment {
    width: 100%;
    height: 100px;
    background-color: var(--whiter1);
    border-radius: 16px;
    border: 4px solid var(--black1);
    padding: 10px 10px 20px 10px;
    position: relative;
}

.comment textarea {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 18px;
}

.comment button {
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 20px;
    bottom: -15px;
    right: 30px;
    background-color: var(--black1);
    color: var(--whiter1);
    border: none;
    border-radius: 8px;
}

.listComment {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.listComment li {
    display: flex;
    gap: 32px;
}

.commentContent {
    min-width: 400px;
    max-width: 600px;
    min-height: 100px;
    background-color: var(--whiter1);
    border-radius: 16px;
    position: relative;
    flex-wrap: wrap;
    padding: 10px 20px;
    color: var(--black1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name {
    font-size: 18px;
}

.starts {
    display: flex;
    font-size: 18px;
    gap: 5px;
}

.time {
    font-size: 16px;
    font-weight: 300;
}

.listComment li img {
    margin-top: 10px;
}

.listComment li span {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 25px;
}

.commentContent::before {
    content: "";
    height: 24px;
    width: 24px;
    background-color: var(--whiter1);
    position: absolute;
    left: -12px;
    top: 20px;
    transform: rotate(45deg);
}

@media (max-width: 900px) {
    .sendComment  img {
        display: none;
    }
}